.App {
  height: 100%;
  font-size: 18px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 10% 30% 60%;
}

.navbarre {
  background-color: aqua;
  height: 100%;
}

.home {
  height: fit-content;
  min-height: 400px;
  padding-bottom: 20px;
  max-height: 500px;
}

.contacts {
  background-color: blue;
  overflow-y: scroll;
  margin-top: 20px;
  max-height: 480px;
  min-height: 150px;
}

.contacts::-webkit-scrollbar {
  display: none;
}

.discussion {
  background-color: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_card {
  height: 60px;
  display: flex;
  align-items: center;
}

.discut_info {
  height: 100px;
  border-bottom: 1px solid gray;
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

.discut_status {
  width: 100%;
  border: 1px solid black;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_zone {
  width: inherit;
  height: 100px;
  margin: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_input {
  width: 90%;
  display: flex;
}

.text_input>textarea {
  width: 100%;
  height: fit-content;
}

.text_input>div {
  display: flex;
  align-items: center;
}

.discut_msg {
  height: 100%;
  margin: auto 20px;
  border-bottom: 1px solid gray;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.discut_msg::-webkit-scrollbar {
  display: none;
}

.message {
  border: 1px solid white;
  min-height: 50px;
}

.message_bulle {
  min-width: 100px;
  width: fit-content;
  max-width: 70%;
  height: 100%;
  margin: auto 20px;
}

.message_content {
  text-align: center;
  width: inherit;
  height: auto;
  overflow: auto;
}

.message_bulle_pointer {
  width: 0;
  height: 0;
  border: 0 solid transparent;
}

.pointer_right {
  position: relative;
  left: -20px;
  bottom: 20px;
  border-bottom-width: 20px;
  border-left-width: 20px;
  border-bottom: 20px solid gray;
}

.pointer_left {
  position: relative;
  right: -100px;
  bottom: 20px;
  border-right-width: 20px;
  border-bottom-width: 20px;
  border-bottom: 20px solid rgb(19, 50, 226);
}

.message_left {
  color: white;
  border-radius: 9px 9px 9px 0px;
  background-color: rgb(19, 50, 226);
  min-height: 100px;
  min-width: 100px;
  height: auto;
  max-width: 300px;
  position: relative;
  padding: 10px;
  margin: 20px;
  border: none;
}

.message_right {
  border-radius: 9px 9px 0px 9px;
  background-color: gray;
  min-height: 100px;
  min-width: 100px;
  height: auto;
  max-width: 300px;
  position: relative;
  border: none;
  padding: 10px;
  margin: 20px;
}

.message_right:before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -20px;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid gray;
  border-bottom: 0px solid transparent;
}

.message_left::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -20px;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid rgb(19, 50, 226);
  border-bottom: 0px solid transparent;
}