.App {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  font-size: 18px;
  font-weight: 300;
}
.navbarre{
  background-color: aqua;
  height: 100vh;
}
.home{
  background-color: blue;
  height: 100vh;
}
.discussion {
  background-color: red;
  height: 100vh;
}
.contact_card{
  height: 60px;
  display: flex;
  align-items: center;
}
.discut_info{
  height: 100px;
  border-bottom: 1px solid gray;
  margin: 0px 20px;
  display: flex;
  align-items: center;
}
.discut_status{
  width: 100%;
  border: 1px solid black;
  margin : 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}