.App {
  display: grid;
  grid-template-columns: 10% 30% 60%;
}
.navbarre{
  background-color: aqua;
  height: 100vh;
}
.home{
  background-color: blue;
  height: 100vh;
}
.discussion {
  background-color: red;
  height: 100vh;
}