.radius {
  border-radius: 9px;
}
.width-270 {
  width: 300px;
}

.small_radius {
  border-radius: 5px;
}

.outlet_from_begin:focus {
  border-radius: 5px;
}

.outlet_from_begin {
  height: 33.5px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  background-color: #b9b9b9;
}
.outlet_from_begin > input {
  height: 30px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-color: #b9b9b9;
}
.outlet_from_begin > button {
  width: 30px;
  border: none;
  background-color: transparent;
  transition: background-color 1s;
}
.outlet_from_begin > button:hover {
  background-color: #b9b9b97e;
  transition: background-color 1s;
}
.outlet_from_begin > button:hover > svg {
  transform: scale(1.2);
}

.text_center {
  text-align: center;
}
.margin {
  height: 540px;
  margin: 10px;
}
.strongest {
  font-size: larger;
  font-weight: 800;
}
.strong {
  font-size: large;
  font-weight: 600;
}

.medium {
  font-size: 18px;
  font-weight: 300;
}
.small {
  font-size: 15px;
  font-weight: 300;
}
.smaller {
  font-size: 12px;
  font-weight: 200;
}
.content_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.margin_x-10 {
  margin: 0px 10px;
}
.margin_x-20 {
  margin: 0px 20px;
}
.margin_y-20_10 {
  margin: 30px auto;
}
.hide {
  display: none;
}
.height-null {
  height: 0%;
}
.img_card > img {
  width: 50px;
  height: 50px;
  border-radius: 35px;
}
.big_img_card > img {
  width: 100px;
  height: 100px;
  border-radius: 70px;
}
.width-max {
  width: 100%;
}
.first_block {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.big_block {
  height: 90vh;
}
.flex_start-r {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.flex_end-r {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.bloc_with_shaddow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.699);
}
.btn_with_shaddow {
  background-color: #0142c4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.699);
  border: none;
}
.btn_with_shaddow_not_actif {
  background-color: #0142c473;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.699);
  border: none;
}
.btn_with_shaddow:hover {
  background-color: #0142c4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn_with_shaddow:focus {
  background-color: #0142c4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.error {
  color: red;
  font-size: small;
  font-family: monospace;
}

.sticky {
  height: 50px;
  border: 1px solid black;
  position: sticky;
  display: block;
}

.failure {
  color: red;
}

.msg_sended {
  color: yellow;
}

.block_with_loader {
  height: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.image-card {
  height: 0px;
}
.displayer_image {
  position: relative;
  height: 250px;
  width: 100%;
  bottom: 250px;
  background-color: rgba(0, 0, 0, 0.247);
  margin-bottom: -250px;
  display: flex;
  justify-content: flex-end;
}
.displayer_image > button {
  width: 30px;
  height: 30px;
}
.images {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.image_message {
  max-height: 100%;
  max-width: 100%;
  min-height: 50px;
  min-width: 50px;
  text-align: center;
}
.image_message > img {
  max-height: 100%;
  max-width: 100%;
  min-height: 50px;
  min-width: 50px;
}
.input_file {
  width: 30px;
  height: 30px;
  opacity: 0;
  position: absolute;
}
.profile {
  display: flex;
  flex-direction: row-reverse;
}
.edit_photo {
  display: inline;
  position: relative;
  top: -100px;
  right: -35px;
  margin-bottom: -30px;
}
.profile_static {
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #0142c4;
  border-radius: 9px;
}
.profile_static > div {
  margin: 20px;
}
.form_profile {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}
.form_profile > input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: #b9b9b9;
  font-size: 16px;
  font-weight: 200;
}
.form_profile > label {
  width: 70%;
  height: 40px;
  margin-bottom: -10px;
  height: fit-content;
  font-size: 18px;
  font-weight: 400;
}
.right_size {
  outline: none;
  border-radius: 5px;
}
.right_size:focus {
  box-shadow: 0px 0px 0px 2px green;
}
.bad_size {
  outline: none;
  box-shadow: 0px 0px 0px 2px red;
  border-radius: 5px;
}
.bad_size:focus {
  box-shadow: 0px 0px 0px 2px red;
}
.image_d_accueil {
  width: 500px;
  height: 500px;
}
.image_d_accueil > img {
  width: 100%;
  height: auto;
}
.choose_conversation_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cut_text {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
